<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="trainerreg" method="post" >
    {% csrf_token %}
    <div id="div1" align="center">
        <h1>Trainer Register page</h1>
        <table>
           <tr>
             <td> Name</td>
             <td><input type="text" name="txtname"></td>
           </tr>
           <tr>
              <td>Age</td>
              <td><input type="number" name="txtage"></td>
           </tr>
           <tr>
              <td>Phno</td>
              <td><input type="number" name="txtphno"></td>
           </tr>
           <tr>
              <td>Email</td>
              <td><input type="email" name="txtmail"></td>
           </tr>
           <tr>
              <td>password</td>
              <td><input type="password" name="txtpswd"></td>
           </tr>
            <tr>
              <td>City</td>
              <td>
                 <select name="ddcity">
                     <option>-----select----</option>
                   {% for i in City %}
                     <option>{{ i.City_name }}</option>
                    {% endfor %}
                 </select>
              </td>
            </tr>
           <tr>
              <td> <input type="submit" name="btnsub" value="Register"> </td>
           </tr>
        </table>
    </div>
</form>
</body>
</html>